[run]
source = pinax
omit = pinax/wiki/conf.py,pinax/wiki/tests/*,pinax/wiki/admin.py,pinax/wiki/migrations/*
branch = true

[report]
omit = pinax/wiki/conf.py,pinax/wiki/tests/*,pinax/wiki/admin.py,pinax/wiki/migrations/*
